.login-form {
min-height: 100vh; 
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(-45deg,#f5c963, #f28d6f, #23a6d5, #23d5ab);
background-size: 400% 400%;
animation: gradient 20s ease infinite;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.login{
background: #fff;
padding: 10px 20px;
border-radius: 15px;
max-width: 500px;
}