.night-div {
  background-color: #fff;
  box-shadow: rgb(150 150 150 / 45%) 0px 25px 20px -30px;
  border-radius: 5px;
  padding: 10px 0px;
}

.icons-div {
  height: 100%;
}

.icons-div svg {
  cursor: pointer;
}

.edit-icon {
  margin-left: 18px;
  color: #a37e26;
  margin-bottom: 5px;
  cursor: pointer;
}

.delete-icon {
  color: #c54545;
  margin-top: 3px;
  cursor: pointer;
}

.price-div {
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 5px;
  font-size: 15px;
}

.price-div div {
  color: #666;
  font-weight: 500;
}
.price {
  text-decoration: line-through;
  margin-right: 5px;
}

.details {
  height: 50px;
  width: 99%;
  background-color: #fff;
  border-radius: 5px;
  margin: 3px 10px;
  padding: 10px 0 0 32px;
}

.extras-list {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.details-div {
  /* height: 287px; */
  overflow-y: auto;
  margin-bottom: 15px;
}

.hide-details-div {
  display: none;
}

.delete-popup-overlay {
  z-index: 99999 !important;
}

.delete-popup-content {
  width: 35% !important;
  height: 35% !important;
}

.pop-background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -16px;
  left: 0;
  z-index: 100;
}

.delete-popup {
  width: 330px;
  /* width: 28%; */
  /* height: 26%; */
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, 0);
  background-color: #fff;
  opacity: 1;
  padding: 20px;
  border-radius: 3px;
  z-index: 1000;
}

.delete-popup svg {
  width: 100%;
  font-size: 37px;
  color: #d49e1f;
}

.delete-popup button {
  width: 100px;
}

.delete-popup p {
  text-align: center;
  margin: 8px 0;
}
/* 
.night {
  height: 150px;
  width: 1200px;
  margin: auto !important;
  transition: width 0.5s, height 0.5s;
}
.night:hover {
  height: 160px;
  width: 1220px;
} */

.availability-div {
  padding-left: 115px;
  font-size: 13px;
  font-weight: 500;
  color: #d49e1f;
}

.rmdp-range,
.rmdp-panel-body li,
.rmdp-arrow-container:hover {
  background-color: #d49e1f !important;
}

.rmdp-arrow-container:hover .rmdp-arrow {
  border-color: #fff !important;
}

.rmdp-week-day {
  color: #d49e1f !important;
}

.rmdp-arrow {
  border-color: #d49e1f !important;
}

.rmdp-day.rmdp-today span,
.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover,
.rmdp-range-hover {
  background-color: #efd28e !important;
}

.rooms-count {
  width: 75% !important;
}

.guestName-icon {
  font-size: 25px;
  margin-top: 10px;
  color: #a37e26;
}

.guestName-icon:hover {
  cursor: pointer;
  color: #555;
}
