.notification-card{
    background-color: #fff;
    box-shadow: 0px 0px 5px #e9d3d3;
    width: 90%;
    margin: 21px auto;
    padding: 15px 15px;
    border-radius: 10px;
    min-height: 150px;
    display: block;
}



.notification-card h4{
    color: #c99822;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}


.notification-card p{
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.notification-card h6{
    color: #c99822;
    font-size: 15px;
}

.notification-card h6:hover{
    color: #c99822;
}