/* .css-1s2u09g-control,
.css-1pahdxg-control {
  height: 55px !important;
  border-radius: 3px !important;
}

.css-1pahdxg-control:hover {
  border-color: #0054a6 !important;
}

.css-1okebmr-indicatorSeparator {
  background-color: transparent !important;
} */
